@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
}

header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  background: linear-gradient(to right, #fff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a{
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 20px;
  padding: 5px 16px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background, color;
}

header nav a:hover{
  background: linear-gradient(to bottom, transparent, #f312a8);
  color: #fff;
}

.home{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home:before{
  content: '';
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 80px;
  background: linear-gradient(to top, #2b2428, transparent);
  bottom: 0;
}

.info{
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(200px);
  opacity: 0;
  transition: 0.6s;
}

.info .title{
  font-family: 'Kaushan Script', cursive;
  font-size: 9em;
  background: linear-gradient(to right, #b883ab, #861277);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 360px;
  height: 215px;
  margin-bottom: 30px;
}

.info .paragraph{
  font-family: 'Monaco', monospace;
  background: linear-gradient(to bottom, transparent, #ffffff);
  color: rgb(223, 50, 185);
  font-size: 1.2em;
  width: 50%;
  margin-bottom: 40px;
}

.info .btn{
  font-size: 1.3em;
  font-weight: 500;
  text-decoration: none;
  background: linear-gradient(to bottom, transparent, #caeb0e);
  color: #fff;
  padding: 10px 35px;
  border-radius: 5px;
  transition: 0.3s;
}

.info .btn:hover{
  transform: scale(1.05);
}

.home img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.content{
  z-index: 10;
  position: relative;
  padding: 90px 100px;
  background: linear-gradient(to bottom, #f324cd70, #c41ea570);
}

.content h2{
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 10px;
}

.content p{
  color: #fff;
  font-size: 1em;
}

.pyramids{
  z-index: 9;
  transform: translateX(-600px);
  transition: 0.8s;
}

.palace{
  z-index: 9;
  transform: translateX(600px);
  transition: 0.8s;
}

.logo, nav{
  transform: translateY(-70px);
  transition: 0.8s;
}


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background: linear-gradient(to bottom, #db1ac2cb, #e75805fa);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background:  #969094;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background: linear-gradient(to bottom, #838171);
}



.footer-heart{text-align:center;font-family: open sans, sans-serif;background-color: #838171;
}

.footer-heart a{color: #000000; text-decoration: none;}

.footer-heart a:hover{color:#e60505;
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;}

.emoji{vertical-align: middle;}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
